@charset "utf-8";
/* CSS Document */
body,ul,li,p,a,img,div,span,h1,h2,h3,em{margin:0px;padding:0px;}
ul{list-style:none;}
a{text-decoration:none;color:#FFF;}
img{border:0 none; vertical-align:top;}
body{font-size:12px;font-family:'微软雅黑';color:#FFF;background:#000;}
.banner{height:38px;line-height:38px;padding-left:150px;font-size:14px;}
.main{width:100%;position:relative;}
.content{width:100%;height:92px;position:absolute;top:470px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3D000000', endColorstr='#3D000000');background:rgba(0,0,0,0.7);}
.content img{padding:16px 0px 12px 172px;}
.links{position:absolute;left:536px;top:0px;}
.links ul li{float:left;height:92px;line-height:92px;}
.links ul li a{font-size:18px;height:92px;text-align:center;display:block;width:120px;}
.links ul li a:hover{background:url(../images/links_bg.gif) repeat-x;}
.ui-tabs-nav{width:160px;height:900px;_height:832px;position:absolute;top:0px;right:0px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3D000000', endColorstr='#3D000000');background:rgba(0,0,0,0.9);padding:5px 0px 0px 17px;}
.ui-tabs-nav img{border:3px solid #686252;cursor:pointer;}
#featured .ui-tabs-panel {float:left;height:900px; }
#featured li.ui-tabs-nav-item li{height:86px;overflow:hidden;}
#featured li.ui-tabs-nav-item a {display: block;height: 86px;margin-top:5px;}
#featured li.ui-tabs-nav-item img {width:120px;height:80px;}
#featured li.ui-tabs-nav-item a:hover {border:3px solid #FFCC66;width:126px;}
#featured li.ui-tabs-selected {width: 132px;margin:5px 0px 0px 17px;}
#featured ul.ui-tabs-nav li.ui-tabs-selected a {border:3px solid #FC6E1A;}
#featured .ui-tabs-hide {display: none;}
.footer{position:relative;width:300px;height:200px;margin:0 auto;line-height:22px;}
.footer em{font-style:normal;}
.footer span{word-spacing:1em;}
.footer b{font-weight:normal;}





